body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

* {
    margin: 0;
    padding: 0;
}



h1 {
    font-size: 65px;
}

h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
}

.help-people {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(donate-today-main/images/donation1.jpg);
    background-size: cover;
    height: 80vh;
    margin-bottom: 80px;
}

.help-banner-content {
    text-align: center;
    color: white;
}

.text {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: #ff5959;
    padding: 8px 16px;
    border-radius: 5px;
}

.text-top {
    display: inline-block;
    margin-top: 40px;
}



.today-donate,
.donate-plan {
    width: 60%;
    margin: 80px auto;
}

.donate-title {
    text-align: center;
}

.donate-title h1 {
    font-size: 45px;
    font-weight: bold;
}

.donate-amount {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.payment {
    width: 135px;
    margin: 0 15px;
    background-color: #fafafa;
    padding: 30px 10px;
    border-radius: 5px;
    text-align: center;
}

.payment h2 {
    color: #707070;
    font-size: 30px;
    font-weight: bold;
}

#payment-select {
    background-color: #ffeeee;
    border: 2px solid #ff5959;
}

#payment-select h2 {
    color: #ff5959;
}

.donate-input {
    text-align: center;
}

.donate-input input {
    margin-top: 50px;
    border: none;
    font-size: 18px;
}

.donate-plan-title {
    text-align: center;
    margin-bottom: 50px;
}

.dp-c {
    display: flex;
    justify-content: space-between;
}

.dp-cp {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 20px;

    margin: 10px;
    height: 352px;
    width: 360px;
    border-radius: 5px;
}

.dp-cp h3 {
    font-family: "Poppins";
    font-size: 24px;
}

.dp-cp img {
    width: 20%;
}

.food {
    background-color: #eef6f7;
}

.shelter {
    background-color: #ffefef;
}

.education {
    background-color: #fff4d6;
}

.get-updates {
    width: 50%;
    margin: 80px auto;
}

.get-updates-title {
    text-align: center;
}

.get-updates-subscribes {
    background-color: #fff4d6;
    /* height: 200px; */
    display: flex;
    padding: 75px 0px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.get-updates-subscribes input {
    border-style: none;
    background-color: #d9d9d9;
    padding: 10px;
    padding-right: 30px;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
}

.get-updates-subscribes a {
    border-radius: 0px 5px 5px 0px;
}

.footer {
    margin-top: 100px;
    background-color: #0b0d17;
    color: white;
    text-align: center;
    padding: 50px;
}

.footer h3 {
    font-family: "lobster";
    font-size: 36px;
    color: #ff5959;
    padding-bottom: 30px;
}

.footer p {
    font-size: 14px;
}